/.idea
/docker/*/mysql
/docker/*/data
!/docker/*/data/.gitignore
/docker/*/run
!/docker/*/run/.gitignore
/docker/*/log
!/docker/*/log/.gitignore

/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/
/app/vendor/
/app/config/jwt/*.pem